:root {
  --dark: #161b22;
  --deep-dark: #0d1116;
  --light: #f0f6fc;
  --yellow: #ffeb3b;
  --grey: #bdbdbd;
  --orange: #ff9800;
  --shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.4);
}

:root {
  --q-primary: #ffeb3b;
}
